@import "reset.less";

h1 {
	font-size: 2.5em;
	font-weight: bold;
	padding-bottom: 30px;
}
h2 {
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 30px;
}
h3 {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 20px;
}
h4 {
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 20px;
}

body {
	font-family: sans-serif;
	padding: 10px;
}

td {
	padding: 5px;
}

thead {
	font-weight: bold;
}

.template {
	display: none !important;
}

.transit {
	border-radius: 10px;
	padding: 20px;
	margin: 5px;
	background-color: rgba(0,0,0,.1);
	display: inline-block;
}