@import "normalize";

@import "color";
@import "mixins";
@import "fonts-base";
// @import "fonts-extended";
@import "ringtail-icons-2.0";
@import "grid";
@import "bits";
@import "buttons";

@import "base";

// Create new Scss stylesheets and include them below.
// Try to make them as reusable and descriptive as possible.



$header-row-content-height: 100px;
$header-row-padding:         30px;
$header-row-height:         160px;

$MOdarkGrey:  rgb(70,70,70);
//$MOlightGrey: rgb(129,131,134);
$MOlightGrey: rgb(179,181,184);
$MOyellow:    rgb(196,148,47);

body {
	background-color: $MOdarkGrey;
}

header {
	height: $header-row-height;
	padding: $header-row-padding;
	background-color: black;
}

#main-header {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 10;
	img {
		height: $header-row-content-height;
		width: auto;
		float: left;
	}

	#clock {
		height: $header-row-content-height;
		float: right;
		color: white;
		font-size: 7.5rem;
		line-height: $header-row-content-height;
		text-align: right;
		font-family: 'Fjalla One', sans-serif;
	}

	#weather {
		color: white;
		width: 250px;
		height: 100px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    font-family: 'Fjalla One', sans-serif;
	    font-size: 7.5rem;
		line-height: $header-row-content-height;
	}
}

#incidents {
	width: 100%;
	
	background-color: $MOyellow;

	.label {
		vertical-align: top;
		display: inline-block;
		padding: 20px;
		width: percentage(1/7);
		font-size: 2.5rem;

	}

	.container {
		display: inline-block;
		padding: 20px;
		width: percentage(5/7);
		font-size: 1.8rem;
		line-height: 25px;
	}
}

#content {
	white-space: nowrap;
	.split1 {
		display: inline-block;
		width: percentage(1/3);
		padding: 20px;
		padding-right: 0px;
		vertical-align: top;
	}
	.split2 {
		display: inline-block;
		width: percentage(1/5);
		padding: 20px;
		padding-right: 0px;
		vertical-align: top;
	}
	.split3 {
		display: inline-block;
		width: percentage(6.9/15);
		padding: 20px;

		vertical-align: top;
	}


	.entry {
		padding: 20px;
		margin-bottom: 20px;

		.train {
			background-image: url(../img/metro/metro.png);
			display: inline-block;
			height: 20px;
			width: 16px;
			background-size: 16px 20px;
			margin-left: 2px;
		}

		.bus {
			background-image: url(../img/metro/bus.png);
			display: inline-block;
			height: 20px;
			width: 17px;
			background-size: 17px 20px;
			margin-left: 2px;
		}

		.entry-title {
			font-size: 2.5rem;
			@extend %source-sans-semibold;
			

		}

		table {

			width: 100%;
			font-size: 2rem;

			.icon {
				display: inline-block;
				height: 20px;
				width: 20px;
				background-size: 20px 20px;
			}

			.col1 {
				width: 30px;
			}
			.col2 {

			}
			.col3 {
				width: 30px;
				text-align: right;
			}

			.RD { background-image: url(../img/metro/RD.svg.png); }
			.GR { background-image: url(../img/metro/GR.svg.png); }
			.YL { background-image: url(../img/metro/YL.svg.png); }
			.SV { background-image: url(../img/metro/SV.svg.png); }
			.SV { background-image: url(../img/metro/SV.svg.png); }
			.OR { background-image: url(../img/metro/OR.svg.png); }
		}
		width: 100%;
		color: $black;
		background-color: $MOlightGrey;
	}

	.news {
		.title {
			font-size: 2.5rem;
			@extend %source-sans-semibold;
		}
		background-color: $MOlightGrey;
		padding: 20px;
	}
}


footer {
	display: none;
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 80px;
	padding: 10px;
	background-color: $MOlightGrey;

	.qr {
		float: right;

		img {
			height: 60px;
			width: 60px;
		}
	}
}

